<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jenfer.mappers.ForumCommentMapper">

    <resultMap id="BaseResultMap" type="com.jenfer.pojo.ForumComment">
            <id property="comment_id" column="comment_id" jdbcType="INTEGER"/>
            <result property="p_comment_id" column="p_comment_id" jdbcType="INTEGER"/>
            <result property="article_id" column="article_id" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="img_path" column="img_path" jdbcType="VARCHAR"/>
            <result property="user_id" column="user_id" jdbcType="VARCHAR"/>
            <result property="nick_name" column="nick_name" jdbcType="VARCHAR"/>
            <result property="user_ip_address" column="user_ip_address" jdbcType="VARCHAR"/>
            <result property="reply_user_id" column="reply_user_id" jdbcType="VARCHAR"/>
            <result property="reply_nick_name" column="reply_nick_name" jdbcType="VARCHAR"/>
            <result property="top_type" column="top_type" jdbcType="TINYINT"/>
            <result property="post_time" column="post_time" jdbcType="TIMESTAMP"/>
            <result property="good_count" column="good_count" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_id,p_comment_id,article_id,
        content,img_path,user_id,
        nick_name,user_ip_address,reply_user_id,
        reply_nick_name,top_type,post_time,
        good_count,status
    </sql>

<!--    <sql id="query_condition_havemap">-->
<!--        <where>-->
<!--            <if test="article_id!= null">-->
<!--                article_id = #{article_id}-->
<!--            </if>-->
<!--            <if test="p_comment_id!= null">-->
<!--                AND p_comment_id = #{p_comment_id}-->
<!--            </if>-->
<!--            <if test="comment_id!= null">-->
<!--                AND comment_id = #{comment_id}-->
<!--            </if>-->
<!--            <if test="user_id!= null">-->
<!--                AND user_id = #{user_id}-->
<!--            </if>-->
<!--            <if test="nick_name!= null">-->
<!--                AND nick_name = #{nick_name}-->
<!--            </if>-->
<!--            <if test="reply_user_id!= null">-->
<!--                AND reply_user_id = #{reply_user_id}-->
<!--            </if>-->
<!--            <if test="reply_nick_name!= null">-->
<!--                AND reply_nick_name = #{reply_nick_name}-->
<!--            </if>-->
<!--            <if test="top_type!= null">-->
<!--                AND top_type = #{top_type}-->
<!--            </if>-->
<!--            <if test="status!= null">-->
<!--                AND status = #{status}-->
<!--            </if>-->
<!--            <if test="post_time!= null">-->
<!--                AND post_time = #{post_time}-->
<!--            </if>-->
<!--            <if test="good_count!= null">-->
<!--                AND good_count = #{good_count}-->
<!--            </if>-->
<!--            <if test="content!= null">-->
<!--                AND content like concat('%',#{content},'%')-->
<!--            </if>-->
<!--            <if test="img_path!= null">-->
<!--                AND img_path like concat('%',#{img_path},'%')-->
<!--            </if>-->
<!--            <if test="user_ip_address!= null">-->
<!--                AND user_ip_address like concat('%',#{user_ip_address},'%')-->
<!--            </if>-->
<!--            &#45;&#45;             查询待审核的-->
<!--            <if test="current_id!=null">-->
<!--                and (status=1 or (status=0 and user_id = #{current_id}))-->
<!--            </if>-->

<!--        </where>-->
<!--    </sql>-->

    <sql id="query_condition">
        <where>
            <if test="forumComment.article_id!= null">
                article_id = #{forumComment.article_id}
            </if>
            <if test="forumComment.p_comment_id!= null">
                AND p_comment_id = #{forumComment.p_comment_id}
            </if>
            <if test="forumComment.comment_id!= null">
                AND comment_id = #{forumComment.comment_id}
            </if>
            <if test="forumComment.user_id!= null">
                AND user_id = #{forumComment.user_id}
            </if>
            <if test="forumComment.nick_name!= null">
                AND nick_name = #{forumComment.nick_name}
            </if>
            <if test="forumComment.reply_user_id!= null">
                AND reply_user_id = #{forumComment.reply_user_id}
            </if>
            <if test="forumComment.reply_nick_name!= null">
                AND reply_nick_name = #{forumComment.reply_nick_name}
            </if>
            <if test="forumComment.top_type!= null">
                AND top_type = #{forumComment.top_type}
            </if>
            <if test="forumComment.status!= null">
                AND status = #{forumComment.status}
            </if>
            <if test="forumComment.post_time!= null">
                AND post_time = #{forumComment.post_time}
            </if>
            <if test="forumComment.good_count!= null">
                AND good_count = #{forumComment.good_count}
            </if>
            <if test="forumComment.content!= null">
                AND content like concat('%',#{forumComment.content},'%')
            </if>
            <if test="forumComment.img_path!= null">
                AND img_path like concat('%',#{forumComment.img_path},'%')
            </if>
            <if test="forumComment.user_ip_address!= null">
                AND user_ip_address like concat('%',#{forumComment.user_ip_address},'%')
            </if>
--             查询待审核的
            <if test="current_id!=null">
                and (status=1 or (status=0 and user_id = #{current_id}))
            </if>

        </where>
    </sql>
    <update id="updateCommentGoodCount">
        update forum_comment set good_count = good_count + #{changeCount} where comment_id = #{objectId}
    </update>


    <select id="querySubCommentbyParam" resultType="com.jenfer.pojo.ForumComment" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        <if test="haveLike!=null and haveLike and current_id!=null">
        ,(select count(1) from like_record where like_record.object_id = forum_comment.comment_id and like_record.user_id = #{current_id}) likeType
        </if>
        from forum_comment
        <include refid="query_condition"></include>
        <if test="pid_list!=null and pid_list.size()>0">
            AND p_comment_id in (<foreach collection="pid_list" item="item" separator=",">#{item}</foreach> )
        </if>
        <if test="current_id!=null">
            AND (status = 1 or user_id = #{current_id})
        </if>
        <if test="orderBy!=null">
            order by ${orderBy}
        </if>
    </select>
    <select id="queryCommentbyParam" resultType="com.jenfer.pojo.ForumComment" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        <if test="haveLike!=null and haveLike and current_id!=null">
            ,(select count(1) from like_record where like_record.object_id = forum_comment.comment_id and like_record.user_id = #{current_id}) likeType
        </if>
        from forum_comment
        <include refid="query_condition"></include>
        <if test="current_id!=null">
            AND (status = 1 or user_id = #{current_id})
        </if>
        <if test="orderBy!=null">
            order by ${orderBy}
        </if>
    </select>
</mapper>
