<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jenfer.mappers.ForumArticleMapper">
    <update id="updateArticleCount">
        update forum_article
        <set>
            <if test="updateType==0">
                read_count=read_count+#{changeCount}
            </if>
            <if test="updateType==1">
                good_count=  good_count+#{changeCount}
            </if>
            <if test="updateType==2">
                comment_count=comment_count+#{changeCount}
            </if>
        </set>
        where article_id = #{articleId}
    </update>

    <sql id="query_condition">
  <where>
    <if test="article_id!=null">
        article_id = #{article_id}
    </if>
    <if test="board_id != null">
        AND board_id = #{board_id}
    </if>
    <if test="board_name!=null">
        AND board_name like concat('%',#{board_name},'%')
    </if>
    <if test="p_board_id != null">
        AND p_board_id = #{p_board_id}
    </if>
    <if test="p_board_name!= null">
        AND p_board_name like concat('%',#{p_board_name},'%')
    </if>
    <if test="user_ip_address!= null">
        AND user_ip_address like concat('%',#{user_ip_address},'%')
    </if>
    <if test="title!= null">
        AND title like concat('%',#{title},'%')
    </if>
    <if test="summary!= null">
        AND summary like concat('%',#{summary},'%')
    </if>
    <if test="user_id!= null">
        AND user_id = #{user_id}
    </if>
    <if test="nick_name">
        AND nick_name like concat('%',#{nick_name},'%')
    </if>
    <if test="editor_type!= null">
        AND editor_type = #{editor_type}
    </if>
    <if test="read_count!= null">
        AND read_count = #{read_count}
    </if>
    <if test="content">
        AND content like concat('%',#{content},'%')
    </if>
    <if test="good_count!= null">
        AND good_count = #{good_count}
    </if>
    <if test="comment_count!= null">
        AND comment_count = #{comment_count}
    </if>
    <if test="top_type!= null">
        AND top_type = #{top_type}
    </if>
    <if test="attachment_type!= null">
        AND attachment_type = #{attachment_type}
    </if>
    <if test="current_id!=null">
        AND (status = 1 or (status = 0 and user_id = #{current_id})))
    </if>
    <if test="comment_user_id!=null and comment_user_id!=''">
        AND article_id in (select article_id from forum_comment where user_id = #{comment_user_id})
        and status = 1
    </if>
    <if test="like_user_id!=null and like_user_id!=''">
        AND article_id in (select article_id from like_record where user_id = #{like_user_id} and op_type=0)
        and status = 1
    </if>
</where>
    </sql>

    <sql id="fuzzy_query_condition">
        <where>
            <if test="forumArticleFuzzyRequestVo.titleFuzzy != null and forumArticleFuzzyRequestVo.titleFuzzy">
                AND title like concat('%',#{forumArticleFuzzyRequestVo.titleFuzzy},'%')
            </if>
            <if test="forumArticleFuzzyRequestVo.nickNameFuzzy != null and forumArticleFuzzyRequestVo.nickNameFuzzy">
                AND nick_name like concat('%',#{forumArticleFuzzyRequestVo.nickNameFuzzy},'%')
            </if>
            <if test="forumArticleFuzzyRequestVo.attachmentType != null">
                AND attachment_type = #{forumArticleFuzzyRequestVo.attachmentType}
            </if>
            <if test="forumArticleFuzzyRequestVo.status != null">
                AND status = #{forumArticleFuzzyRequestVo.status}
            </if>
        </where>
    </sql>



    <select id="queryArticleBySort" resultType="com.jenfer.vo.ForumArticleVo">
        select article_id,board_id,board_name,p_board_id
       ,p_board_name,user_id,nick_name,user_ip_address,title,
         cover,summary,post_time,last_update_time,read_count,
        good_count,comment_count,top_type,attachment_type,status
        from forum_article
        <include refid="query_condition"></include>
    </select>

    <select id="queryArticlesWithPagination" resultType="com.jenfer.vo.ForumArticleVo">
        select article_id,board_id,board_name,p_board_id
        ,p_board_name,user_id,nick_name,user_ip_address,title,
         cover,summary,post_time,last_update_time,read_count,
        good_count,comment_count,top_type,attachment_type,status
        from forum_article
        <where>
        <!-- 板块ID查询条件 -->
        <if test="boardId != null">
            AND board_id = #{boardId}
        </if>
        <!-- 父板块ID查询条件 -->
        <if test="pBoardId != null">
            AND p_board_id = #{pBoardId}
        </if>
            AND status = 1

        <!-- 其他查询条件可以继续添加 -->
    </where>

        ORDER BY ${orderSql}


    </select>



    <select id="selectArticleList" resultType="com.jenfer.vo.ForumArticleVo" parameterType="com.jenfer.vo.ForumArticleFuzzyRequestVo">
        select article_id,board_id,board_name,p_board_id
        ,p_board_name,user_id,nick_name,user_ip_address,title,
        cover,summary,post_time,last_update_time,read_count,
        good_count,comment_count,top_type,attachment_type,status
        from forum_article
        <include refid="fuzzy_query_condition"></include>
        order by post_time desc , status desc
    </select>




</mapper>
