<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jenfer.mappers.ForumArticleMapper">
    <update id="updateArticleCount">
        update forum_article
        <set>
            <if test="updateType==0">
                read_count=read_count+#{changeCount}
            </if>
            <if test="updateType==1">
                good_count=  good_count+#{changeCount}
            </if>
            <if test="updateType==2">
                comment_count=comment_count+#{changeCount}
            </if>
        </set>
        where article_id = #{articleId}
    </update>

    <select id="queryArticlesWithPagination" resultType="com.jenfer.vo.ForumArticleVo">
        select article_id,board_id,board_name,p_board_id
        ,p_board_name,user_id,nick_name,user_ip_address,title,
         cover,summary,post_time,last_update_time,read_count,
        good_count,comment_count,top_type,attachment_type,status
        from forum_article
        <where>
        <!-- 板块ID查询条件 -->
        <if test="boardId != null">
            AND board_id = #{boardId}
        </if>
        <!-- 父板块ID查询条件 -->
        <if test="pBoardId != null">
            AND p_board_id = #{pBoardId}
        </if>
            AND status = 1

        <!-- 其他查询条件可以继续添加 -->
    </where>

        ORDER BY ${orderSql}


    </select>
</mapper>
