<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jenfer.mappers.UserIntegralRecordMapper">

    <resultMap id="BaseResultMap" type="com.jenfer.pojo.UserIntegralRecord">
            <id property="record_id" column="record_id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="VARCHAR"/>
            <result property="oper_type" column="oper_type" jdbcType="TINYINT"/>
            <result property="integral" column="integral" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        record_id,user_id,oper_type,
        integral,create_time
    </sql>
</mapper>
