<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jenfer.mappers.UserMessageMapper">

    <resultMap id="BaseResultMap" type="com.jenfer.pojo.UserMessage">
            <id property="message_id" column="message_id" jdbcType="INTEGER"/>
            <result property="received_user_id" column="received_user_id" jdbcType="VARCHAR"/>
            <result property="article_id" column="article_id" jdbcType="VARCHAR"/>
            <result property="article_title" column="article_title" jdbcType="VARCHAR"/>
            <result property="comment_id" column="comment_id" jdbcType="INTEGER"/>
            <result property="send_user_id" column="send_user_id" jdbcType="VARCHAR"/>
            <result property="send_nick_name" column="send_nick_name" jdbcType="VARCHAR"/>
            <result property="message_type" column="message_type" jdbcType="TINYINT"/>
            <result property="message_content" column="message_content" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        message_id,received_user_id,article_id,
        article_title,comment_id,send_user_id,
        send_nick_name,message_type,message_content,
        status,create_time
    </sql>
</mapper>
