<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jenfer.mappers.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.jenfer.pojo.UserInfo">
            <id property="user_id" column="user_id" jdbcType="VARCHAR"/>
            <result property="nick_name" column="nick_name" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="TINYINT"/>
            <result property="person_description" column="person_description" jdbcType="VARCHAR"/>
            <result property="join_time" column="join_time" jdbcType="TIMESTAMP"/>
            <result property="last_login_time" column="last_login_time" jdbcType="TIMESTAMP"/>
            <result property="last_login_ip" column="last_login_ip" jdbcType="VARCHAR"/>
            <result property="last_login_ip_address" column="last_login_ip_address" jdbcType="VARCHAR"/>
            <result property="total_integral" column="total_integral" jdbcType="INTEGER"/>
            <result property="current_integral" column="current_integral" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,nick_name,email,
        password,sex,person_description,
        join_time,last_login_time,last_login_ip,
        last_login_ip_address,total_integral,current_integral,
        status
    </sql>
    <update id="updateIntegral">
        update user_info set current_integral = current_integral+#{integral}
        <if test="integral>0">
            ,total_integral = total_integral+#{integral}
        </if>
        where user_id =#{userId} and current_integral+#{integral}>=0
    </update>
</mapper>
